exportPattern("^[[:alpha:]]+")
export(bayes_estimator)
export(disturbance_summary)
export(bayes_estimator_old)
import("Rcpp")
import("rstan")
importFrom("methods", "new")
importFrom("stats", "quantile", "sd")
useDynLib(disturbanceBayes,.registration = TRUE)
